.title {
  color: #0595dc;
  text-transform: uppercase;
  font-weight: 700;
  margin: 50px 0;
}

.button1 {
  text-decoration: none;
  color: #0595dc;
}

.button1 span {
  font-size: 16px;
  font-weight: 600;
  padding-right: 6px;
}

.see-all {
  padding: 10px 30px;
  width: 18%;
  text-decoration: none;
  background-color: #0595dc;
  box-shadow: 1px 0px 20px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 0px 20px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 0px 20px 2px rgba(0, 0, 0, 0.1);
}

@media (max-width: 500px) {
  .see-all {
    width: 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.banner {
  height: 85vh;
  padding: 0;
  background: #e0f2fb;
}

@media (min-width: 370px) {
  .banner {
    height: 75vh;
  }
}

@media (min-width: 600px) {
  .banner {
    height: 65vh;
  }
}

@media (min-width: 1600px) {
  .banner {
    height: 85vh;
  }
}

.banner .navigation {
  background-color: #c8e9f9;
}

@media (min-width: 1679px) {
  .banner .navigation .navigation-container {
    max-width: 1400px;
    margin: auto;
  }
}

@media (min-width: 600px) {
  .banner .navigation .navigation-container .logo {
    width: 50%;
  }
}

.banner .navigation .navigation-container .logo img {
  width: 100%;
}

.banner .navigation .navigation-container button {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.banner .navigation .navigation-container:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.banner .navigation .navigation-collapse .navigation-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0;
}

@media (min-width: 1000px) {
  .banner .navigation .navigation-collapse .navigation-nav {
    margin-left: 15%;
  }
}

@media (min-width: 1100px) {
  .banner .navigation .navigation-collapse .navigation-nav {
    margin-left: 15%;
  }
}

@media (min-width: 1679px) {
  .banner .navigation .navigation-collapse .navigation-nav {
    margin-left: 40%;
  }
}

.banner .navigation .navigation-collapse .navigation-nav a {
  color: #808080;
  font-weight: 500;
}

.banner .navigation .navigation-collapse .navigation-nav .active {
  color: #0595dc;
}

.banner .navigation .navigation-collapse .navigation-nav .dev {
  padding: 13px 28px;
  background-color: black;
  color: white;
}

@media (max-width: 800px) {
  .banner .banner-content .banner-content-row .content-text {
    margin-top: 60px;
  }
}

@media (max-width: 500px) {
  .banner .banner-content .banner-content-row .content-text {
    margin-top: 40px;
  }
}

.banner .banner-content .banner-content-row .content-text h3 {
  font-size: 20px;
  color: #808080;
}

.banner .banner-content .banner-content-row .content-text h1 {
  font-size: 36px;
  font-weight: 800;
  color: #0595dc;
}

@media (min-width: 400px) {
  .banner .banner-content .banner-content-row .content-text h3 {
    font-size: 25px;
    color: #808080;
  }
  .banner .banner-content .banner-content-row .content-text h1 {
    font-size: 42px;
    font-weight: 800;
    color: #0595dc;
  }
}

@media (min-width: 600px) {
  .banner .banner-content .banner-content-row .content-text h3 {
    font-size: 40px;
    color: #808080;
  }
  .banner .banner-content .banner-content-row .content-text h1 {
    font-size: 53px;
    font-weight: 800;
    color: #0595dc;
  }
}

.banner .banner-content .banner-content-row .content-image {
  margin-top: 30px;
}

.banner .banner-content .banner-content-row .content-image .image {
  width: 60%;
  margin: auto;
}

@media (min-width: 600px) {
  .banner .banner-content .banner-content-row .content-image .image {
    width: 43%;
  }
}

@media (min-width: 999px) {
  .banner .banner-content .banner-content-row .content-image .image {
    width: 56%;
  }
}

.banner .banner-content .banner-content-row .content-image .image img {
  width: 100%;
}

@media (max-width: 500px) {
  .documantation .documentation-row {
    margin: auto 15px;
  }
}

.documantation .documentation-row .documents {
  box-shadow: 1px 0px 60px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 0px 60px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 0px 60px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: 30px;
}

.documantation .documentation-row .documents hr {
  border: 1px #0595dc solid;
  width: 185px;
  margin: auto;
}

.documantation .documentation-row .documents .topic {
  font-size: 18px;
  font-weight: 600;
}

.documantation .documentation-row .documents .description {
  line-height: 19px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #808080;
}

.documantation .documentation-row .documents .button1 {
  margin-bottom: 20px;
}

.event {
  background-color: #efefef;
}

.event .properties-row .heading p {
  font-weight: 700;
  color: #0595dc;
  font-size: 14px;
}

.event .properties-row .heading h3 {
  font-size: 24px;
  font-weight: 900;
  color: #e0f2fb;
}

.event .properties-row .the-properties-carousel {
  margin-bottom: 60px;
  border-radius: 10px;
}

.event .properties-row .the-properties-carousel .properties-carousel-content {
  box-shadow: 1px 0px 60px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 0px 60px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 0px 60px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}

.event .properties-row .the-properties-carousel .properties-carousel-content h5 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.event .properties-row .the-properties-carousel .properties-carousel-content .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.event .properties-row .the-properties-carousel .properties-carousel-content .location span {
  text-transform: uppercase;
  font-weight: 600;
}

.event .properties-row .the-properties-carousel .properties-carousel-content .location span img {
  width: 15px;
  margin-right: 8px;
}

.event .properties-row .the-properties-carousel .properties-carousel-content .date {
  background-color: #0595dc;
}

.event .properties-row .the-properties-carousel .properties-carousel-content .date .day {
  font-size: 40px;
  padding: 0;
  color: white;
  font-weight: 700;
}

.event .properties-row .the-properties-carousel .properties-carousel-content .date .month {
  font-size: 21px;
  margin-top: -10px;
  color: white;
  font-weight: 500;
  padding-bottom: 10px;
}

.event .properties-row .the-properties-carousel .properties-carousel-content .description {
  margin-top: 40px;
  margin-bottom: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  color: #808080;
}

.event .properties-row .the-properties-carousel .properties-carousel-content .button2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.event .properties-row .the-properties-carousel .properties-carousel-content .button2 span {
  color: #0595dc;
  font-weight: 600;
}

.event .properties-row .the-properties-carousel .properties-carousel-content .button2 span img {
  width: 20px;
  margin-left: 8px;
}

.announcement {
  background-color: #F8F8F8;
}

.announcement .properties-row {
  padding: 0;
}

.announcement .properties-row .heading p {
  font-weight: 700;
  color: #0595dc;
  font-size: 14px;
}

.announcement .properties-row .heading h3 {
  font-size: 24px;
  font-weight: 900;
  color: #e0f2fb;
}

.announcement .properties-row .the-properties-carousel {
  margin-bottom: 60px;
  border-radius: 10px;
}

.announcement .properties-row .the-properties-carousel .properties-carousel-content {
  box-shadow: 1px 0px 60px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 0px 60px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 0px 60px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
  padding: 0;
}

.announcement .properties-row .the-properties-carousel .properties-carousel-content .image {
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.announcement .properties-row .the-properties-carousel .properties-carousel-content .image img {
  width: 100%;
}

.announcement .properties-row .the-properties-carousel .properties-carousel-content .image img:hover {
  width: 130%;
}

.announcement .properties-row .the-properties-carousel .properties-carousel-content .announcement-content {
  padding-bottom: 40px;
}

.announcement .properties-row .the-properties-carousel .properties-carousel-content .announcement-content h5 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.announcement .properties-row .the-properties-carousel .properties-carousel-content .announcement-content .description {
  margin-top: 10px;
  margin-bottom: 30px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  color: #808080;
}

.announcement .properties-row .the-properties-carousel .properties-carousel-content .announcement-content .button2 {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.announcement .properties-row .the-properties-carousel .properties-carousel-content .announcement-content .button2 span {
  color: #0595dc;
  font-weight: 600;
}

.announcement .properties-row .the-properties-carousel .properties-carousel-content .announcement-content .button2 span img {
  width: 20px;
  margin-left: 8px;
}

footer {
  background-color: #585858;
}

@media (max-width: 800px) {
  footer .footer-row .copy-right {
    text-align: center;
  }
}

footer .footer-row .copy-right p {
  color: white;
  margin-top: 10px;
}

footer .footer-row .social {
  text-align: right;
}

@media (max-width: 800px) {
  footer .footer-row .social {
    text-align: center;
  }
}

footer .footer-row .social a {
  margin-right: 30px;
}

footer .footer-row .social a img {
  height: 30px;
}
/*# sourceMappingURL=index.css.map */